.title {
	font-size: 1.5rem;
}
.author {
	font-size: 1.2rem;
	opacity: 0.8;
}
.description {
	opacity: 0.4;
	font-size: 1.3rem;
}
.categoryContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.category2 {
	background-color: var(--primary);
	padding: 0.5rem;
	border-radius: 32px;
}
.container2 {
	height: fit-content;
	/* width: 40%; */
	margin-right: 5rem;
	padding: 1rem;
	background-color: var(--secondary);
	border-radius: 32px;
	cursor: grab;
	display: flex;
	height: 20vh;
	gap: 1rem;
	width: 100%;
	justify-content: space-between;
}

.container2 > div > img {
	object-fit: cover;
	height: 100%;
	aspect-ratio: 1/1;
	/* width: 100%; */
	border-radius: 32px;
}
.container2 > div {
	display: flex;
	gap: 2rem;
}
@media screen and (max-width: 991px) {
	.container {
		width: 100%;
		margin-top: 1rem;
	}
	.container2 > div {
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}
	.container2 {
		flex-direction: column;
		height: max-content;
	}
	.container2 > div > img {
		width: 100%;
		height: 20%;
	}
}
