.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5% 0;
	flex-direction: column;
}
.section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.section >div> h1 {
	margin: 20vh 0;
	font-size: 2rem;
}

.section >div> img {
	width: 80%;
}

@media screen and (min-width: 991px) {
	.section {
		flex-direction: row;
		justify-content: space-around;
        width: 100%;
	}
    .section>div > h1{
        font-size: 3rem;
    }
}
