.container {
	height: fit-content;
	/* width: 40%; */
	margin-right: 5rem;
	padding: 1rem;
	background-color: var(--primary);
	border-radius: 32px;
	cursor: grab;
}
.container > img {
	object-fit: cover;
	height: 15vh;
	width: 100%;
	border-radius: 32px;
}
.title {
	font-size: 1.5rem;
}
.author {
	font-size: 1.1rem;
	opacity: 0.8;
	font-style: italic;
}

.description {
	opacity: 0.4;
	font-size: 0.8rem;
}
.categoryContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}
.category {
	background-color: var(--secondary);
	padding: 0.5rem;
	border-radius: 32px;
}
.category2 {
	background-color: var(--primary);
	padding: 0.5rem;
	border-radius: 32px;
}
.container2 {
	height: fit-content;
	/* width: 40%; */
	margin-right: 5rem;
	padding: 1rem;
	background-color: var(--secondary);
	border-radius: 32px;
	cursor: grab;
}
.container2 > img {
	object-fit: cover;
	height: 10vh;
	width: 100%;
	border-radius: 32px;
}
@media screen and (max-width: 991px) {
	.container {
		width: 100%;
		margin-top: 1rem;
	}
}
